.header {
  color: #fff;
  background-color: brown;
  top: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.button {
  background-color: #fff;
  color: brown;
  position: right;
}
.margin {
  margin-right: 20px;
}
