<div class="header">
  <a href="javascript:void(0)" routerLink="/" class="margin"
    >Angular practice</a
  >
  <button mat-button class="button margin" routerLink="/signup">signup</button>
  <button mat-button class="button" routerLink="/posts">Posts</button>
</div>
