<mat-card class="post-card">
  <mat-card-header>
    <mat-card-title class="app-background padding">{{
      post.title
    }}</mat-card-title>
    <mat-card-subtitle>{{ post.id }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ post.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="app-background" (click)="likeButtonClicked()">
      LIKE
    </button>
    <button mat-button class="app-background" (click)="sharedPost()">
      SHARE
    </button>
  </mat-card-actions>
</mat-card>
