<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Signup</mat-card-title>
    <mat-card-subtitle
      >Please use your email and password to signup</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="signupForm">
      <mat-form-field class="form-input-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="emailFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            signupForm.controls.emailFormControl.hasError('email') &&
            !signupForm.controls.emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error
          *ngIf="signupForm.controls.emailFormControl.hasError('required')"
        >
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-input-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="passwordFormControl"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="signupForm.controls.passwordFormControl.hasError('required')"
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="submit-button">Submit</button>
  </mat-card-actions>
</mat-card>
