.error {
  color: red;
}

.fruit {
  background-color: rebeccapurple;
  color: #fff;
  padding: 2px;
  text-align: center;
}
.button {
  background-color: rebeccapurple;
  color: #fff;
  text-align: center;
}
