<p>{{ title }}</p>
<label>User name : </label>
<input name="name" [(ngModel)]="userName" />
<p class="error" *ngIf="isUserNameError">user name is mandatory</p>
<label>Password : </label>
<input name="password" [(ngModel)]="password" type="password" />
<p>{{ password }}</p>
<p class="error" *ngIf="isPasswordError">password is mandatory</p>

<button (click)="submit()" class="button" mat-button>Submit</button>

<h2>Fruits</h2>
<div *ngFor="let fruit of fruits">
  <p class="fruit">{{ fruit }}</p>
</div>
<div>
  <h2>Posts</h2>
  <div *ngFor="let post of posts">
    <app-post-card
      [post]="post"
      (liked)="userLike($event)"
      (shared)="userShared($event)"
    ></app-post-card>
  </div>
</div>
